.card {
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    position: relative;
    min-height: 40px;
    margin: 20px 0 20px 0;
}   
.back, .front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    width: 100%;  
}
.back {
    -webkit-transform: rotateY(180deg);
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
}  

.front {
     border: 1px solid black;
     width: 100%;
     height: 100%;
     

}


section{
    display: inline-block;
    text-align: justify;
    width:100%;
}   
section:hover .back {   
    -webkit-transform: rotateY(0deg);
}
section:hover .front {      
    -webkit-transform: rotateY(-180deg);
}

.btn-center{
    margin-left: 25%;
}

@media all and (max-width: 900px){
    .btn-center{
        width:95%;
        margin-left: 0px;
    }
}