 /* Primary Styles
    Author: Nickolay Yegorov
 */
 
@font-face { font-family: Paratype; src: url('PTN57F.ttf'); }

@font-face {
    font-family: 'RICHARD_MILLER';
    src: url('RICHARD_MILLER.eot?#iefix') format('embedded-opentype'),
         url('RICHARD_MILLER.woff') format('woff'),
         url('RICHARD_MILLER.ttf')  format('truetype'),
         url('RICHARD_MILLER.svg#webfont') format('svg');
}

body{
  font-family: 'Paratype';
}

h1,h3,a{
  font-family: 'RICHARD_MILLER';
}

A:link, A:visited {text-decoration: none; color: black;}
A:active, A:hover {text-decoration: none; color: black;}

img{
  max-width:100%; max-height:100%;
}

.contact{
  position: fixed;
  right: -1px;
}

.contact-up{
  border: 1px solid black;
  padding: 20px 20px 20px 20px;
}

.flag {
  right: 26px;
  position: fixed;
  width: 0px; 
  
  border-left: 15px solid black;
  border-right: 15px solid black;
  
  border-bottom: 15px solid transparent;

  -webkit-webkit--transition-property: height;
  -webkit-transition-duration: 0.5s;
  height: 20px; 
}
.flag:hover {
  
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.5s;
  height: 100px;
}

.arrow-body {
  left: 19px;
  position: fixed;
  background:black;
  width: 1px; 
  height: 200px; 
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;  
  border-top: 1px solid black;
}

.arrow-down {
  left: 10px;
  margin-top:200px;
  position: fixed;
  width: 1px; 
  height: 200px; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;  
  border-top: 10px solid black;
}

/* Handcrafted grid system */
 
.raw {
  clear: both;
  padding: 0px;
  margin: 0px;
} 

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; }

/*  GRID OF FOUR  */
.x8{
  width: 100%;
}

.x7{
  width: 86%;
}

.x6 {
  width: 74.6%;
}
.x4 {
  width: 49.2%;
}
.x2 {
  width: 23.8%;
}

.x3{
  width: 34%
}

.x1 {
  width: 10%;
}

.offset1{
  margin-left: 12.5%;
}

/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}